.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 3;}


.middle{
    padding-bottom: 30px;
    width: 700px;
}
     
   

.bottom{
     bottom: 5px;
     left: 5px;
     right: 5px;
     height: 15px;
     text-align: center;
     position: fixed;}

.caption{ font-size: large;
    font-weight: bold;
    font-style: italic;
    color: darkred;

}

.footer{
    color: gray;
    font-style: italic;
}
.White {color:antiquewhite;}

.Large { font-size: large;}